* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    ::selection {
        background-color: #272a33;
        color: #ffffff;
    }
}

.main-btn {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 30px;
    background-color: #1bbc9d;
    transition: 300ms all;
    font-size: 14px;
    color: white;
    &:hover {
        transform: translateY(-3px);
    }
}

.mb-9 {
    margin-bottom: 90px;
    @media(max-width: 992px) {
        margin-bottom: 40px;
    }
}

.main-color {
    color: #1bbc9d;
}

.main-color-2 {
    color: #dce6f3;
    opacity: 0.6;
}

.main-bg-color {
    background-color: #1bbc9d;
}

.main-bg-color-2 {
    background-color: #272a33;
}

.main-bg-color-3 {
    background-color: #2e313a;

}

.title-section {
    h2 {
        div {
            width: 50px;
            height: 2px;
            background-color: #1bbc9d;
        }
    }
}

.fs-13 {
    font-size: 13px;
}

/* ===================================================== */
    // Navbar Style
/* ===================================================== */
.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    transition: 0ms all;
    box-shadow: 0 0px 10px #ccc;
}

.txt-1 {
    .nav-link {
        color: #393f4f;
        transition: 300ms all;
        &:hover, :active, :focus {
            color: #1bbc9d;
        }
    }
}

nav {
    z-index: 9999;
}

@media (min-width: 1200px) {
    nav {
        .container {
            .collapse {
                margin-left: 30px;
            }
        }
    }
}

/* ===================================================== */
    // Header Style
/* ===================================================== */
.header-section {
    background-image: url("../web-img/bg-home.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .bg-gradient {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(to right, #363795, #005c97);
            opacity: 0.90;
        }
    }

    .header-content {
        width: 50%;
        .container {
            z-index: 999;
            span {
                letter-spacing: 6px;
            }
        }
    }
}

@media (max-width: 992px) {
    .header-section {
        height: 350px;
        .header-content {
            width: 100%;
            .container {
                z-index: 999;
                span {
                    letter-spacing: 6px;
                }
            }
        }
    }
}

/* ===================================================== */
    // Feature Style
/* ===================================================== */
.features-section {
    .container {
        .row {
            .col-1-style {
                ul {
                    li {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 6px;
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            background-color: #1bbc9d;
                        }
                    }
                }
            }
        }
    }
}

/* ===================================================== */
    // Services Style
/* ===================================================== */
.services-section {
    .section-title {
        div {
            p {
                width: 50%;
                @media(max-width: 768px) {
                    width: 90%;
                }
            }
        }
    }
}

/* ===================================================== */
    // Contact 1 Style
/* ===================================================== */
.contact-1-section {
    background-image: url("../web-img/img-1-\(2\).jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .contact-1-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #363795, #005c97);
        opacity: 0.90;;
    }

    .content {
        z-index: 999;
        width: 50%;
        @media(max-width: 768px) {
            width: 100%;
        }
    }

}

/* ===================================================== */
    // Slide Style
/* ===================================================== */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* ===================================================== */
    // About Style
/* ===================================================== */
.about-section {
    .section-title {
        div {
            p {
                width: 50%;
                @media(max-width: 768px) {
                    width: 90%;
                }
            }
        }
    }
}

/* ===================================================== */
    // Pricing Style
/* ===================================================== */
.pricing-section {
    .section-title {
        div {
            p {
                width: 50%;
                @media(max-width: 768px) {
                    width: 90%;
                }
            }
        }
    }
}

/* ===================================================== */
    // Pricing Style
/* ===================================================== */
.customers-section {

    .section-title {
        div {
            p {
                width: 50%;
                @media(max-width: 768px) {
                    width: 90%;
                }
            }
        }
    }

    .container {
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    .card {
                        .card-body {
                            .card-img-1 {
                                div {
                                    padding: 3px;
                                    border: 1px solid #ccc;
                                    border-radius: 50%;
                                    width: 60px;
                                    height: 60px;
                                    img {
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* ===================================================== */
    // Contact 2 Style
/* ===================================================== */
.contact-2-section {
    background-image: url("../web-img/img-2\ \(1\).jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .contact-1-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #363795, #005c97);
        opacity: 0.90;;
    }

    .content {
        z-index: 999;
        width: 50%;
        @media(max-width: 768px) {
            width: 100%;
        }
    }

}

/* ===================================================== */
    // Blog Style
/* ===================================================== */
.blog-section {

    .section-title {
        div {
            p {
                width: 50%;
                @media(max-width: 768px) {
                    width: 90%;
                }
            }
        }
    }

    .container {
        .row {
            .col-lg-4 {
                transition: 300ms all;
                &:hover {
                    transform: translateY(-5px);
                }
                .card {
                    .card-body {
                        a {
                            color: #1bbc9d;
                            transition: 300ms all;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* ===================================================== */
    // Contact 3 Style
/* ===================================================== */
.contact-3-section {
    .section-title {
        div {
            p {
                width: 50%;
                @media(max-width: 768px) {
                width: 90%;
                }
            }
        }
    }
}

/* ===================================================== */
    // Footer Style
/* ===================================================== */
.footer-section {

    .container {
        .row {
            .col-lg-3 {
                ul {
                    li {
                        color: #858d96;
                        a {
                            color: #dce6f3;
                            opacity: 0.6;
                            transition: 300ms all;
                            &:hover {
                                opacity: 1;
                            }
                        }

                        div {
                            position: relative;
                            input {
                                background-color: #2e313a;
                                color: white;
                                font-size: 15px;
                                padding-right: 30px;
                            }

                            a {
                                position: absolute;
                                right: 15px;
                                bottom: -9px;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-end {
        ul {
            li {
                a {
                    padding: 7px;
                    border: 1px solid #858d96;
                    border-radius: 50%;
                    color: #858d96;
                    transition: 300ms all;
                    &:hover {
                        color: #1bbc9d;
                        border-color: #1bbc9d;
                    }
                }
            }
        }
    }

}